gitUsername = "MyUserName"
preferFork = "1"
installPath = "src"
ckanRepo = "ckan/ckan"
ckanBranch = "2.7"
ckanExtBcGov = "bcgov/ckanext-bcgov"
ckanExtBcGovBranch = "dev"
ckanExtBcGovCli = "bcgov/ckanext-bcgov-cli"
ckanExtBcGovCliBranch = "dev"
ckanExtOpenApiViewer = "bcgov/ckanext-openapiviewer"
ckanExtOpenApiViewerBranch = "master"
ckanExtRssSource = "https://gogs.data.gov.bc.ca"
ckanExtRss = "bcdc/ckanext-edc-rss"
ckanExtRssSourceBranch = "master"
ckanExtDisqus = "bcgov/ckanext-bcgov-disqus"
ckanExtDisqusBranch = "dev"
ckanExtGaReport = "bcgov/ckanext-ga-report"
ckanExtGaReportBranch = "master"
ckanExtGeoview = "bcgov/ckanext-geoview"
ckanExtGeoviewBranch = "0.0.12-bcgov"
ckanExtGoogleAnalytics = "bcgov/ckanext-googleanalytics"
ckanExtGoogleAnalyticsBranch = "master"
ckanExtHierarchy = "bcgov/ckanext-hierarchy"
ckanExtHierarchyBranch = "master"
ckanExtSSO = "bcgov/ckanext-sso"
ckanExtSSOBranch = "dev"
ckanUI = "bcgov/ckan-ui"
ckanUIBranch = "dev"
ckanExtDatapusher = "ckan/datapusher"
ckanExtDatapusherBranch = "master"
solrRepo = "solr"
solrTag = "6.2-alpine"
postgresRepo = "postgres"
postgresTag = "9.6-alpine"
redisRepo = "redis"
redisTag = "alpine"
solrCore = "ckan"
postgresDb = "ckan"
postgresUser = "ckan"
postgresPass = "ckan"
solrPort = "8983"
postgresPort = "5432"
redisPort = "6379"
ckanPlugins = "sso resource_proxy text_view recline_view recline_map_view recline_grid_view geo_view datastore datapusher recline_graph_view openapi_view pdf_view geojson_view edc_dataset edc_rss edc_app edc_geo edc_ngeo edc_webservice hierarchy_display hierarchy_form googleanalytics ga-report edc_disqus"
ckanVersion="ckan-2.7.2"
ssoAuthEndpoint = "http://myAuthServer/auth"
ssoRealm = "ckan"
ssoClientId = "ckan"
ssoClientSecret = "myAuthClientSecret"
ssoSysadminGroup = "sysadmin"
ssoGroupField = "groups"
ssoUsernameField = "preferred_username"
ssoEmailField = "email"
ssoNameField = "name"

gaID="Google Analytics ID"
gaAccount="Google Analytics Account"
gaUser="Google Analytics Username"